/* Estilos para pantallas de hasta 480px (celulares pequeños)*/
@media (max-width: 480px) {
     
    nav ul {
      display: none;
    }
    
    .nav-buttons.active {
        display: block;
        text-align: center;
    }
    .logo img{
        max-width: 40px;
    }
    
    main{
        margin-top: 60px;
        text-align: center;
    }
    
    .hero{
        background-image: url("../assets/images/fondo_movil.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: #000000;
        text-align: center;
    }

    .hero h1 {    
        font-size: 2.5rem;    
        margin-bottom: 20px;
        margin-left: 50px;
        text-align: center;   
        
    }
    
    .hero p {
        font-size: 1.2rem;
        margin-bottom: 30px;
        margin-left: 50px;
        text-align: center;
    }
    
    .hero-buttons {
        margin-top: 50px;
        margin-left: 50px;
    }

    section{
        padding: 0px;
    }
}

/* Estilos para pantallas de hasta 625px (Tablet y similares)*/
@media (max-width: 625px) {
    nav ul {
        display: none;
      }

    .menu-icon{
        display: block;
    }
}

/* Estilos para pantallas de hasta 768px (Tablet y similares)*/
@media (max-width: 768px) {

    main{
        text-align: center;
    }

    nav {
        height: auto;
        gap: 10px;
    }

    .cards-container {
      grid-template-columns: 1fr;
    }
  
    .contact {
      display: flex;
      flex-direction: column;
      align-items: center;
    } 

}

